@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Montserrat, sans-serif;
  height: 100vh;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  /* background-color: #dab85f; */
  background: linear-gradient(
    90deg,
    rgba(254, 239, 103, 1) 0%,
    rgba(236, 217, 107, 1) 10%,
    rgba(230, 219, 117, 1) 21%,
    rgba(244, 225, 77, 1) 39%,
    rgba(228, 196, 76, 1) 54%,
    rgba(231, 192, 47, 1) 72%,
    rgba(232, 190, 82, 1) 85%,
    rgba(255, 171, 0, 1) 100%
  );
}

.header-links {
  display: flex;
  gap: 20px;
}

.sub-header {
  display: flex;
  padding: 40px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  /* this background needs some serious changing */
}

.sub-header-left {
  flex: 1 1 1;
  width: 450px;
}

.sub-header-left button {
  /* I would love to know how to center this */
  border-radius: 10px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: rgb(219, 175, 64);
  outline: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 17px;
  border: none;
}

.sub-header img {
  border-radius: 10px;
  width: 400px;
}

#lonely-p {
  text-align: center;
}

.body-4cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}
